.popup {
  font-family: 'Roboto', 'Inter', 'Arial', 'Helvetica', sans-serif;
  color: #fff;
  min-width: 100vw;
  min-height: 100%;
  position: fixed;
  top: 0;
  right: auto;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  display: flex;
  align-items: center;
  visibility: hidden;
  transition: all .3s ease-in-out;
  opacity: 0;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__form {
  min-width: 430px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  margin: 195px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media all and (max-width: 620px) {
  .popup__form {
    max-width: 280px;
  }
}

.popup__close {
  background-image: url('../../images/back.svg');
  background-color: rgba(255, 255, 255, 0);
  background-position: center;
  width: 45.5px;
  height: 47px;
  position: absolute;
  top: -50px;
  right: -37px;
  cursor: pointer;
  transition: opacity 1s linear .1s;
  padding: 0;
  border: 0;
  outline: none;
}

.popup__close:hover {
  opacity: 0.6;
}

@media all and (max-width: 620px) {
  .popup__close {
    width: 30px;
    height: 30px;
    top: -45px;
    right: 45%;
  }
}

.popup__tooltip-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  align-self: start;
  color: #000000;
  max-width: 358px;
  margin: 43px auto 14px;
}

@media screen and (max-width: 550px) {
  .popup__tooltip-text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 50px;
    max-width: 244px;
  }
}

@media screen and (max-width: 400px) {
  .popup__tooltip-text {
    font-size: 15px;
    line-height: 20px;
    max-width: 200px;
  }
}

.popup__tooltip-button {
  font-family: 'Inter';
  font-size: 18px;
  line-height: 22px;
  color: #2F71E5;
  text-decoration: none;
  align-self: start;
  margin-left: 37px;
  margin-bottom: 51px;
}